/* Basic */
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #F3F6FD;
  --second-bg-color: #FFFFFF;
  --primary-color: #B32166;
  --primary-dark-color: #a1004b;
  --primary-opacity-color: rgba(179, 33, 102, 0.5);
  --shadow-color: rgba(179, 33, 102, 0.15);
  --grey: #94A3BD;
  --grey-second: #E7EBFB
}

body {
  font-family: "Nunito", serif;
  background: var(--main-bg-color);
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  background: var(--second-bg-color);
  min-height: 100vh;
  padding: 30px;
}

.logo {
  margin-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu__item, .menu__add {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  cursor: pointer;
}

.menu__item {
  background: var(--second-bg-color);
  box-shadow: 0px 10px 20px 4px var(--shadow-color);
  border: none;
}

.menu__item:hover {
  background: var(--primary-opacity-color);
}

.menu__item:hover img, .menu__item_active img {
  filter: brightness(0) invert(1);
}

.menu__item_active {
  background: var(--primary-color);
}

.menu__item_active:hover {
  background: var(--primary-dark-color);
}

.menu__img {
  height: 35px;
}

.menu__add {
  background: none;
  border: 2px solid var(--primary-opacity-color);
}

.menu__add:hover {
  background: var(--shadow-color);
}





/* Content */
.content {
  min-width: 1280px;  /* <-- Need change */
  padding: 30px 60px;
}

/* Content - Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  color: var(--primary-color);
  font-weight: 400;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px; /* <-- Need change */
}

.progress__text, .progress__name, .progress__percent {
  font-size: 14px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}

.progress__percent {
  color: var(--grey);
}

.progress__bar {
  width: 100%;
  background: var(--shadow-color);
  border-radius: 4px;
  height: 5px;
  position: relative;
}

.progress__cover-bar {
  position: absolute;
  width: 69%;
  height: 5px;
  border-radius: 4px;
  background: var(--primary-color);
}

/* Content - Main */
.main {
  margin-top: 30px;
}

.habbit {
  background: var(--second-bg-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.habbit__day {
  background: #FBFAFF;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid var(--grey-second);
  font-size: 16px;
  padding: 20px 40px;
  min-width: 125px;  
  font-weight: 500;
}

.habbit__comment {
  font-size: 16px;
  padding: 20px 25px;
}

.habbit__delete {
  margin-left: auto;
  margin-right: 11px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
}

.habbit__delete:hover {
  background: #edeff9;
}

.habbit__form {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 0 10px 0 25px;
  position: relative;
}

.habbit__form-input {
  background: var(--second-bg-color);
  border: 1px solid var(--grey-second);
  border-radius: 9px;
  padding: 12px 20px 12px 45px;
  font-family: "Nunito", serif;
  flex: 1;
}

.habbit__form-input:focus {
  outline: none;
  border: 2px solid var(--primary-opacity-color);
}

.habbit__form-input::placeholder {
  color: var(--grey);
}

.habbit__form-icon {
  position: absolute;
  top: 12px;
  left: 45px;
}

.habbit__form-btn {
  background: var(--primary-color);
  border-radius: 10px;
  border: none;
  font-size: 13px;
  color: var(--second-bg-color);
  padding: 14px 30px;
  cursor: pointer;
}

.habbit__form-btn:hover {
  background: var(--primary-dark-color);
}
